<div class="row">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Crear Nuevo Proyecto</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>
          Id Proyecto
        </th>
        <th>
          Identificador
        </th>
        <th>
          Titulo Proyecto
        </th>
        <th>
          Fase
        </th>
        <th>
          Estado
        </th>
        <th>
          Prioridad
        </th>
        <th>
          Estado Gcrm
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let project of projects">
      <tr>
        <td>{{ project.ProjectId }}</td>
        <td>{{ project.Identifier }}</td>
        <td>{{ project.ProjectTitle }}</td>
        <td>{{ project.CurrentPhaseDescription }}</td>
        <td>{{ project.StateDescription }}</td>
        <td>{{ project.PriorityDescription }}</td>
        <td>{{ project.GcrmStateDescription }}</td>
        <td>
          <button class="btn btn-primary btn-sm">Editar</button>
        </td>
        <td>
          <button class="btn btn-secondary btn-sm">Ver Eventos</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
